<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="tests/phpunit/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertDeprecationsToExceptions="true"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">

  <php>
    <ini name="error_reporting" value="E_ALL"/>
  </php>

  <coverage processUncoveredFiles="false">
    <include>
      <directory suffix=".php">./source/php</directory>
    </include>
    <exclude>
      <directory suffix=".test.php">./source/php</directory>
      <directory suffix=".php">./source/php/AcfFields</directory>
    </exclude>
    <report>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
      <html outputDirectory="coverage/phpunit"/>
    </report>
    
  </coverage>

  <testsuites>
    <testsuite name="Plugin Test Suite">
      <directory suffix=".php">./tests/phpunit/tests</directory>
      <directory suffix=".test.php">./source/php</directory>
    </testsuite>
  </testsuites>
</phpunit>
