/*tbody .type-event.red {
  background-color: rgb(251,113,113)
}

tbody .type-event.green {
  background-color: rgb(118,245,120)
}*/

.createContact {
  margin-top: 15px !important;
}

/* Hide meta box content from publish */
.misc-pub-visibility, .misc-pub-curtime, #preview-action {
  display: none !important;
}

.main_organizer_hidden {
  display: none;
}

.acf-field[data-name="imported_event"] {
  display: none !important;
}

.acf-field[data-name="sync"] li label {
  padding:12px;
  color:#444;
  background-color: #efefef;
  border-radius:4px;
}

.check_active {
  color:#fff !important;
  background-color: #0085ba !important;
}

.acceptAndDeny .hiddenElement {
  display: none;
}

.accept.button-primary {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    text-shadow: 0 -1px 1px #398439,1px 0 1px #398439,0 1px 1px #398439,-1px 0 1px #398439;
    box-shadow: 0 1px 0 #398439;
}

.accept.button-primary:hover, .accept.button-primary:focus, .accept.button-primary:active {
    color: #fff;
    background-color:#449d44;
    border-color:#398439;
}

.accept.button-primary:active {
    -webkit-box-shadow:inset 0 2px 0 #398439;
    box-shadow:inset 0 2px 0 #398439;
}

.deny.button-primary {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    text-shadow: 0 -1px 1px #ac2925,1px 0 1px #ac2925,0 1px 1px #ac2925,-1px 0 1px #ac2925;
    box-shadow: 0 1px 0 #ac2925;
}

.deny.button-primary:hover, .deny.button-primary:focus, .deny.button-primary:active {
    color: #fff;
    background-color:#c9302c;
    border-color:#ac2925;
}

.deny.button-primary:active {
    -webkit-box-shadow:inset 0 2px 0 #ac2925;
    box-shadow:inset 0 2px 0 #ac2925;
}

.extraspace {
  margin: 1px 8px 0 0 !important;
}

#suggestionContainer {
  width: 100%;
  max-height: 75px;
  background-color: white;
  padding: 3px 8px;
  box-sizing: border-box;
  overflow-y: auto;
  display: none;
}

#suggestionList {
  margin: 0;
}

#suggestionList a.suggestion {
  text-decoration: underline;
}

#lightbox {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(241, 241, 241, 0.9);
  opacity: 0;
  animation: 200ms modal-fade-in forwards;
}
#lightbox .lightbox-close {
  position: absolute;
  top: 0;
  right: 6%;
  font-size: 14px !important;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 0px 0px 4px 4px;
  background-color: #d9534f !important;
  border-color: #d9534f !important;
  text-shadow: 0 -1px 1px #ac2925,1px 0 1px #ac2925,0 1px 1px #ac2925,-1px 0 1px #ac2925;
  box-shadow: 0 1px 0 #ac2925;
  color: #fff;
}
#lightbox .lightbox-close:hover {
  padding-top: 10px;
  color: #fff;
  background-color:#c9302c !important;
  border-color:#ac2925 !important;
}
#lightbox .lightbox-close:active {
    -webkit-box-shadow:inset 0 2px 0 #ac2925;
    box-shadow:inset 0 2px 0 #ac2925;
}
#lightbox .lightbox-wrapper {
  position: relaitve;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#lightbox .lightbox-iframe {
  box-sizing: border-box;
  width: 100vw;
  height: 100%;
}

.lightbox-open {
  overflow: hidden;
}

.lightbox-open #wpwrap {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#blackOverlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
}

#importResponse {
  display: none;
  line-height: 0;
  width: 400px;
  height: 300px;
  background-color: #0085ba;
  z-index: 10000;
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  color: white;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}

#importResponse .button {
  background-color: rgb(118,245,120);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  left: 0;
  text-align: center;
}

#importResponse div {
  height: 20%;
  position: relative;
  margin: 0;
}

#importResponse div.inline {
  width: 33.3%;
  display: inline-block;
}

#importResponse div p {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
}

#importResponse #untilReload {
  -webkit-border-radius: 0px 0px 20px 20px;
  -moz-border-radius: 0px 0px 20px 20px;
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
}

#importResponse #untilReload #meter {
  background-color: red;
  position: absolute;
  width: 0%;
  height: 100%;
}

#importResponse #event, #importResponse #location, #importResponse #contact {
  opacity: 0;
}
