tbody .type-event.red {
    background-color: rgb(251,113,113)
}

tbody .type-event.green {
    background-color: rgb(118,245,120)
}

.acceptAndDeny .hiddenElement {
    display: none;
}

#suggestionContainer {
    width: 100%;
    max-height: 75px;
    background-color: white;
    padding: 3px 8px;
    box-sizing: border-box;
    overflow-y: auto;
    display: none;
}

#suggestionList {
    margin: 0;
}

#suggestionList a.suggestion {
    text-decoration: underline;
}
