.acf-tab-error  {
  color: #F55E4F;
  float: right;
}

/* Hide meta box content from publish */
.misc-pub-visibility, .misc-pub-curtime, #preview-action {
  display: none !important;
}

.main_organizer_hidden {
  display: none;
}

.acf-field[data-name="geo_map"] .title {
  display: none !important;
}

.acf-field[data-name="imported_post"] {
  display: none !important;
}

#sync-meta-box {
  label {
    display: block;
    padding:12px;
    color:#444;
    background-color: #efefef;
    border-radius:4px;
  }
  .check_active {
    color:#fff !important;
    background-color: #0085ba !important;
  }
}

.extraspace {
  margin: 1px 8px 0 0 !important;
}

.import-buttons {
  margin-bottom: 8px;
}

.import-buttons .button-primary {
  padding: 4px 8px;
  line-height: normal;
  height: auto;
  position: relative;
}

#blackOverlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
}

.acf-field-unique-id {
  display: none !important;
}

.select2-container-multi {
  width: 100%;
}

.post-type-location.child-location {
  #titlewrap {
    width: 100%;
    display: table;
  }

  #titlediv #title, #titlediv #title-prompt-text {
    display: table-cell;
    line-height: 14px;
  }

  #titlediv #title {
    margin: 0px;
  }

  #titlediv #title-prompt-text, #titlediv .screen-reader-text {
    width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px 0 0 4px;
    font-size: 1.1em;
    position: static;
    color: #555;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: 0px;
  }
}
