.wp-admin.post-type-event {

    &.post-php.no-sync {
        .postbox:not(#submitdiv):not(.acf-postbox),
        .postarea,
        .acf-field:not([data-name="sync"]) {
            position: relative;

            &::after {
                display: block;
                content: '';

                position: absolute;
                z-index: 10;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                background-color: rgba(#fff, .9);
            }

            &::before {
                display: block;
                content: '';

                width: 25px;
                height: 25px;

                position: absolute;
                z-index: 20;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjQ4Ni43MzNweCIgaGVpZ2h0PSI0ODYuNzMzcHgiIHZpZXdCb3g9IjAgMCA0ODYuNzMzIDQ4Ni43MzMiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4Ni43MzMgNDg2LjczMzsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTQwMy44OCwxOTYuNTYzaC05LjQ4NHYtNDQuMzg4YzAtODIuMDk5LTY1LjE1MS0xNTAuNjgxLTE0Ni41ODItMTUyLjE0NWMtMi4yMjUtMC4wNC02LjY3MS0wLjA0LTguODk1LDANCgkJQzE1Ny40ODYsMS40OTQsOTIuMzM2LDcwLjA3Niw5Mi4zMzYsMTUyLjE3NXY0NC4zODhoLTkuNDg1Yy0xNC42MTYsMC0yNi41MzgsMTUuMDgyLTI2LjUzOCwzMy43MDl2MjIyLjYzMg0KCQljMCwxOC42MDYsMTEuOTIyLDMzLjgyOSwyNi41MzksMzMuODI5aDMyMS4wMjhjMTQuNjE2LDAsMjYuNTM5LTE1LjIyMywyNi41MzktMzMuODI5VjIzMC4yNzINCgkJQzQzMC40MTksMjExLjY0Niw0MTguNDk3LDE5Ni41NjMsNDAzLjg4LDE5Ni41NjN6IE0yNzMuNDQyLDM0MS4zNjJ2NjcuMjcxYzAsNy43MDMtNi40NDksMTQuMjIyLTE0LjE1OCwxNC4yMjJIMjI3LjQ1DQoJCWMtNy43MSwwLTE0LjE1OS02LjUxOS0xNC4xNTktMTQuMjIydi02Ny4yNzFjLTcuNDc3LTcuMzYtMTEuODMtMTcuNTM3LTExLjgzLTI4Ljc5NWMwLTIxLjMzNCwxNi40OTEtMzkuNjY2LDM3LjQ1OS00MC41MTMNCgkJYzIuMjIyLTAuMDksNi42NzMtMC4wOSw4Ljg5NSwwYzIwLjk2OCwwLjg0NywzNy40NTksMTkuMTc5LDM3LjQ1OSw0MC41MTNDMjg1LjI3MiwzMjMuODI1LDI4MC45MTksMzM0LjAwMiwyNzMuNDQyLDM0MS4zNjJ6DQoJCSBNMzMxLjg4NiwxOTYuNTYzaC04NC4wNzJoLTguODk1aC04NC4wNzJ2LTQ0LjM4OGMwLTQ4LjkwNSwzOS43NDQtODkuMzQyLDg4LjUxOS04OS4zNDJjNDguNzc1LDAsODguNTIxLDQwLjQzNyw4OC41MjEsODkuMzQyDQoJCVYxOTYuNTYzeiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=');
                background-position: center center;
                background-size: cover;
                opacity: .5;
            }
        }
    }
}
