.wp-admin.post-type-event, .wp-admin.post-type-location, .wp-admin.post-type-organizer {

    &.post-php.no-sync {
        .postbox:not(#submitdiv):not(.acf-postbox):not(#lix-calculator):not(#revisionsdiv):not(#sync-meta-box),
        .postarea,
        #titlewrap,
        .acf-field[data-name="event_link"],
        .acf-field[data-name="occasions"],
        .acf-field[data-name="location"],
        .acf-field[data-name="event_organizers"],
        .acf-field[data-name="booking_link"],
        .acf-field[data-name="booking_phone"],
        .acf-field[data-name="age_restriction"],
        .acf-field[data-name="price_information"],
        .acf-field[data-name="price_adult"],
        .acf-field[data-name="price_children"],
        .acf-field[data-name="user_groups"],
        .acf-field[data-name="missing_user_group"],
        //Location
        .acf-field[data-name="street_address"],
        .acf-field[data-name="postal_code"],
        .acf-field[data-name="city"],
        .acf-field[data-name="municipality"],
        .acf-field[data-name="country"],
        .acf-field[data-name="geo_map"],
        //Organizer
        .acf-field[data-name="website"],
        .acf-field[data-name="phone"],
        .acf-field[data-name="email"]
        {
            position: relative;

            &::after {
                display: block;
                content: '';

                position: absolute;
                z-index: 10;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                background-color: rgba(#fff, .9);
            }

            &::before {
                display: block;
                content: '';

                width: 25px;
                height: 25px;

                position: absolute;
                z-index: 20;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj4KPHBhdGggZD0iTTI3LjgwMiA1LjE5N2MtMi45MjUtMy4xOTQtNy4xMy01LjE5Ny0xMS44MDMtNS4xOTctOC44MzcgMC0xNiA3LjE2My0xNiAxNmgzYzAtNy4xOCA1LjgyLTEzIDEzLTEzIDMuODQ0IDAgNy4yOTggMS42NjkgOS42NzggNC4zMjJsLTQuNjc4IDQuNjc4aDExdi0xMWwtNC4xOTggNC4xOTd6Ij48L3BhdGg+CjxwYXRoIGQ9Ik0yOSAxNmMwIDcuMTgtNS44MiAxMy0xMyAxMy0zLjg0NCAwLTcuMjk4LTEuNjY5LTkuNjc4LTQuMzIybDQuNjc4LTQuNjc4aC0xMXYxMWw0LjE5Ny00LjE5N2MyLjkyNSAzLjE5NCA3LjEzIDUuMTk3IDExLjgwMyA1LjE5NyA4LjgzNyAwIDE2LTcuMTYzIDE2LTE2aC0zeiI+PC9wYXRoPgo8L3N2Zz4K");
                background-position: center center;
                background-size: cover;
                opacity: .5;
            }
        }
    }
}
