#suggestionContainer {
    width: 100%;
    max-height: 171px;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
    display: none;
    border: 1px solid #ddd;
    margin-top: -4px;
}

#suggestionList {
    margin: 0;

    li:first-of-type {
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
    }

    li {
        padding: 5px 9px;
    }
}

#suggestionList a.suggestion {
    color: #264973;
    text-decoration: underline;
}

#suggestionList a.suggestion:hover {
    color: #4079bf;
    text-decoration: underline;
}

#suggestionList a.suggestion span {
    background-color: #dbeff8;
}

.suggestion-hide {
    position: static;
    float: right;
    padding: 0;
}
